.ad {
 text-align: right;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.emil {
  text-align: right;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bas {
     color: #2f80ed ;

     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.bas2 {
    color: #f78501   ;
}
.bas3 { 
  color: #f78501;
} 


.hed {
  color: #f78501;
}


.ade { 
  color: #f78501;
}

.ae { 
  color: #f78501;
} 
.ac {  color: #f78501;}

.aa { color: black;} 

